h2 {
  border-left: 4px solid #c8c8c8;
  margin-bottom: 20px;
  background: #ededed;
  padding: 8px 0 8px 10px;
  font-weight: 500;
  font-size: 17px;
  small{
    font-weight: 400;
    font-size: .8em;
    opacity: .6;
  }
}