// /* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// *{
//     padding: 0;
//     margin: 0;
//     font-family: 'Roboto', sans-serif;
//     box-sizing: border-box;
// }
h2 {
  border-left: 4px solid #c8c8c8;
  margin-bottom: 20px;
  background: #ededed;
  padding: 8px 0 8px 10px;
  font-weight: 500;
  font-size: 17px;
  small{
    font-weight: 400;
    font-size: .8em;
    opacity: .6;
  }
}
// table {
//     border-collapse: collapse;
//     width: 100%;
// }
  
//   table td, table th {
//     border: 1px solid #ddd;
//     padding: 8px;
//   }
  
//   table tr:nth-child(even){background-color: #f2f2f2;}
  
//   // table tr:hover {background-color: #ddd;}
  
//   table th {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     background-color: #04AA6D;
//     color: white;
//   }


//   input[type="text"]{
//     background: #f5f5f5;
//     border: 1px solid #ddd;
//     padding: 7px 10px;
//     border-radius: 4px;
//     margin-right: 12px;
//   }

//   button{
//     background: #909090;
//     border: 0;
//     padding: 7px 10px;
//     border-radius: 4px;
//     color: #fff;
//     cursor: pointer;
//   }